.HobbyBloc {
  margin-top: 10px;

  h3 {
    font-weight: bold;
  }
}

.list {
  margin-left: 2px;
  list-style: inside;

  li {
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 2px;
  }

  li > span {
    position: relative;
    left: -2px;
    font-size: 0.9em;
  }
}
