.HomePage {
  margin: auto;
  text-align: center;
}

.presentationText {
  margin-bottom: 35px;
}

.button {
  background-color: #d2b02f;
  padding: 8px 25px;
  border: solid 1px black;
  border-radius: 20px;

  &:hover {
    padding: 10px 27px;
  }
}
