@import './scss/reset.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  @media print {
    width: 210mm;
    margin: 0;
  }
}

@media print {
  @page {
    size: 210mm 297mm;
    margin: 0;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}
